// COLORS
$primary-color: #1a2a6c;
$secondary-color: #b21f1f;
$tertiary-color: #fdbb2d;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #22104b; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
